.signUpContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // margin-top: 35px;
    .loginInput{
       margin-bottom: 20px;
       
        .loginInput::placeholder {
        padding-left: 50px;


        }
    }
}