.chatHeader{
    height: 60px;
    width: 100%;
      background-color: #F0F2F5;

  position: fixed;
  z-index: 555;
    .listItem{
        margin-top: 0px;

        .avatar {
          margin-right: 0px;
        }
    }
  }